/* color schema */

.color1 {color: #0d586d;}
.color2 {color: #0c707e;}
.color3 {color: #0a9b9e;}
.color4 {color: #06d9c7;}
.color5 {color: #0fffed;}

/* font family defined  */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    font-family: 'Spectral', serif;
}

h1, h2, h3, h4, h5, h6 {
  /* Puedes ajustar el peso de la fuente según lo desees */
  font-weight: 600;
}