body{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 60px;
}

.container_photo_name{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    padding: 30px 0;
    background-color: rgb(11, 67, 104);
}

.container_photo_name_img{
    display: grid;
    justify-content: end;
    align-items: center;
}

.container_photo_name_img img{
    width: 120px;
    height: 120px;
    box-shadow: -1px 0px 17px 4px rgba(0,0,0,0.75);
}

.container_photo_name_name{
    display: grid;
    margin-left: 30px;
    align-items: center;
    font-size: 32px;
    font-family:a;
    font-weight: 700;
    color: #fff;
}

.navbar_container{
    width: 100%;
    display: block;
}

.navbar_container_ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    width: 100%;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

.navbar_container_ul li{
    list-style: none;
    height: 60px;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    border-right: 0.1px solid #fff;
}

.navbar_container_ul li a{
    color: #fff;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: a;
}

.li_active{
    background-color: #693604 !important;
}

main{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

main h1{
    display: grid;
    width: 90%;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    text-align: start;
}

.card_sections_container{
    display: grid;
    grid-template-columns: 71% 21%;
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card_sections_container .card{
    height: auto;
    box-shadow: -1px 0px 17px 4px rgba(0,0,0,0.75);
}

.card_sections_container .card h2{
    width: 100%;
    text-align: center;
    font-size: 19px;
    color: #fff;
    background-color:rgb(11, 67, 104);
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    padding: 10px 0;
}

.target_weather{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ul_card_list_weeks li{
    list-style: none;
    height: 33.3333333px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

.ul_card_list_weeks{
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    height: 200px;
}

.ul_card_list_weeks li div{
    display: grid;
    justify-content: center;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(11, 67, 104);
}

.footer_p_uno{
    display: flex !important;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    align-items: center;
    padding: 10px 0;
    color: #fff;
}

.img_flag{
    width: 60px;
    height: 40px;
    padding: 0 10px 0 6px;
}

.year_span{
    padding: 0 10px;
}

#lastModified{
    color: #f7f022;
    text-align: center;
    font-weight: 900;
}

/* Hamburguer navigation  */

#menu {
	font-size: 1.8rem;
	border: 0;
	background: none;
	color: #000000;
	position: absolute;
	top: 0.8rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}
#menu {
    display: none; /* hide hamburger button */
}

@media (max-width: 601px) {
    
    #menu {
        display: flex; /* hide hamburger button */
    }

    .navbar_container{
        display: none;
    }

    main{
        margin-top: 0px;
    }

    header{
        margin-top: 55px;
        grid-template-rows: 1fr 30px
    }
}

/* Button of night and day  */

.ui-switch {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
  }
  
  .ui-switch input {
    display: none;
  }

  .slider {
    width: 48px;
    height: 20px;
    background: rgb(135, 150, 165);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }

  .slider .circle {
    top: calc((32px - 20px) / 2 * -1);
    left: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    background: rgb(0, 56, 146);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
}

  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    transition: all 500ms;
    opacity: 0;
  }
  
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - 32px);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }

  .ui-switch input:active + .slider .circle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    transition: opacity 500ms;
    opacity: 1;
  }
/* Button of night and day  */

@media (min-width: 601px) {
    .navbar_container{
        display: block !important;
    }

    header{
        grid-template-rows: 1fr 80px
    }
}